
<%- include("header") -%>

<h1>home</h1>
<p><%=content%></p>



<% arrs.forEach(function(arr){%>
    <h1><%=arr.title %> </h1>
    <p><%=arr.compose.substring(0,100)+" ..."%> <a href="/<%=arr.compose%>">Read more</a></p>
<% }) %>

<%- include("footer") -%>